<header>
  <div class="header_row">
    <h2>
      Управление задачами
    </h2>
    <app-header-user-panel [currentUser]="currentUser"></app-header-user-panel>
  </div>
  <div class="header_row">
    <!-- <div>
      <select name="" id="">
        <option value="">Дате</option>
        <option value="">Исполнителю</option>
      </select>
    </div> -->
    <app-button label="Сортировать по Дате" (click)="sortTasksByDateHandler()"></app-button>
    <div>
      <app-button label="Добавить задачу" button-style="blue" (click)="addTaskButtonHandler()"></app-button>
    </div>
  </div>
</header>
