header {
  padding: 20px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #FFFFFF;
  border-left: 1px solid #EAEAEA;
}

h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
}

.header_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}
