:host {
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &_title,
  &_priority {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  &_priority {
    & div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      & input[type="radio"]:checked {
        background-color: #007bff;
      }
    }
  }

  & input,
  & textarea,
  & select {
    height: 50px;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

    &:focus {
      outline: 2px solid #4971FF;
    }
  }

  & textarea {
    height: 110px;
    line-height: 22px;
  }
}

.submit-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}
// width: Fill (665px)
// height: Hug (50px)
// padding: 10px, 20px, 10px, 20px
// border-radius: 10px
// border: 1px
// gap: 20px

