<form action="">
  <div class="form-group_title">
    <div class="form-group">
      <label for="task-date">Дата создания</label>
      <input type="text" id="task-date" readonly value="{{ creationDate | date:'dd MMMM yyyy' }}">
    </div>
    <div class="form-group">
      <label for="task-title">Название задачи</label>
      <input type="text" id="task-title" >
    </div>
  </div>
  <div class="form-group">
    <label for="task-description">Описание</label>
    <textarea name="" id="task-description" cols="30" rows="10"></textarea>
  </div>
  <div class="form-group">
    <label for="task-priority">Приоритет задачи:*</label>
    <div id="task-priority" class="form-group_priority">
      <div>
        <input type="radio" id="high-priority" name="option" value="high-priority">
        <label for="high-priority">Высокий</label><br>
      </div>
      <div>
        <input type="radio" id="medium-priority" name="option" value="medium-priority">
        <label for="medium-priority">Средний</label>
      </div>
      <div>
        <input type="radio" id="low-priority" name="option" value="low-priority">
        <label for="low-priority">Низкий</label><br>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="selectUser">Исполнитель*:</label>
    <select id="selectUser">
      <option value=""></option>
      <ng-container>
        <option *ngFor="let user of users" value="{{ user.id }}">{{ user.displayName }}</option>
      </ng-container>
    </select>
  </div>
  <div class="submit-buttons">
    <app-button label="Сохранить" button-style="gray"></app-button>
    <app-button label="Сохранить в черновики" button-style="white"></app-button>
  </div>
</form>
